body {
    background-color: #f3f3f3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.top-padding-100 {
    padding-top: 50px;
}

.buttom-padding-100 {
    padding-bottom: 100px;
}